<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Oregon Digital analytics data</title>
</head>
<body>
  <h1>Oregon Digital analytics data</h1>
  <ul>
  {% for name, filename in files %}
    <li><a href="{{ filename }}">{{ name }}</a></li>
  {% endfor %}
  </ul>
</body>
</html>
